body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
}

#search{
width:80%;
padding:12px;
border-radius:10px;
border:none;
margin:20px;
}

.card{
background:#111;
padding:15px;
margin:15px;
border-radius:14px;
display:inline-block;
width:200px;
}

img{
width:100%;
border-radius:10px;
}
